* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.forms > form {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
}

.forms > form > label {
  font-size: small;
  margin-top: 10px;
  margin-bottom: 5px;
}

.forms > form > input {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eff2f5e5;
  border: none;
  outline: none;
  flex: 1;
}

.forms > form > select {
  background-color: #eff2f5e5;
  padding: 5px 0px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.forms > form > button {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #4413ca;
  color: #ffffff;
  font-size: small;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.forms > form > button:hover {
  background-color: #3912a3;
}

.formerror {
  font-size: x-small;
  color: red;
}